# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
Back-End/.editorconfig
Back-End/.env.example
Back-End/.gitattributes
Back-End/.gitignore
Back-End/artisan
Back-End/composer.json
Back-End/composer.lock
Back-End/package.json
Back-End/phpunit.xml
Back-End/README.md
Back-End/vite.config.js
Back-End/app/Http/Controllers/Controller.php
Back-End/app/Http/Controllers/Api/CustomerController.php
Back-End/app/Http/Controllers/Api/CustomerProjectController.php
Back-End/app/Http/Controllers/Api/ProjectController.php
Back-End/app/Http/Requests/StoreCustomerRequest.php
Back-End/app/Http/Requests/StoreProjectRequest.php
Back-End/app/Http/Requests/UpdateCustomerRequest.php
Back-End/app/Http/Requests/UpdateProjectRequest.php
Back-End/app/Http/Resources/CustomerResource.php
Back-End/app/Http/Resources/ProjectResource.php
Back-End/app/Models/Customer.php
Back-End/app/Models/Project.php
Back-End/app/Models/User.php
Back-End/app/Providers/AppServiceProvider.php
Back-End/bootstrap/app.php
Back-End/bootstrap/providers.php
Back-End/bootstrap/cache/.gitignore
Back-End/config/app.php
Back-End/config/auth.php
Back-End/config/cache.php
Back-End/config/database.php
Back-End/config/filesystems.php
Back-End/config/logging.php
Back-End/config/mail.php
Back-End/config/queue.php
Back-End/config/sanctum.php
Back-End/config/services.php
Back-End/config/session.php
Back-End/database/.gitignore
Back-End/database/factories/UserFactory.php
Back-End/database/migrations/0001_01_01_000000_create_users_table.php
Back-End/database/migrations/0001_01_01_000001_create_cache_table.php
Back-End/database/migrations/0001_01_01_000002_create_jobs_table.php
Back-End/database/migrations/2024_07_26_052022_create_personal_access_tokens_table.php
Back-End/database/migrations/2024_07_26_053529_create_customers_table.php
Back-End/database/migrations/2024_07_26_074822_create_projects_table.php
Back-End/database/migrations/2024_07_26_082720_create_customer_project_table.php
Back-End/database/seeders/DatabaseSeeder.php
Back-End/public/.htaccess
Back-End/public/favicon.ico
Back-End/public/index.php
Back-End/public/robots.txt
Back-End/resources/css/app.css
Back-End/resources/js/app.js
Back-End/resources/js/bootstrap.js
Back-End/resources/views/welcome.blade.php
Back-End/routes/api.php
Back-End/routes/console.php
Back-End/routes/web.php
Back-End/storage/app/.gitignore
Back-End/storage/app/public/.gitignore
Back-End/storage/framework/.gitignore
Back-End/storage/framework/cache/.gitignore
Back-End/storage/framework/cache/data/.gitignore
Back-End/storage/framework/sessions/.gitignore
Back-End/storage/framework/testing/.gitignore
Back-End/storage/framework/views/.gitignore
Back-End/storage/logs/.gitignore
Back-End/tests/TestCase.php
Back-End/tests/Feature/ExampleTest.php
Back-End/tests/Unit/ExampleTest.php
